html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  --color1: #f0ece2;
  --color2: #dfd3c3;
  --color3: #c7b198;
  --color4: #596e79;
  --color5: #ffffff;
  --color6: #8d021f;

  background-color: var(--color1);
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  max-width: 1280px;
  margin: auto;
}

nav ul {
  list-style: none;
}
nav ul li a {
  display: block;
  text-decoration: none;
}
h1 {
  text-align: center;
}
.results {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.card {
  display: grid;
  grid-template-columns: 2fr, 1fr;
  text-align: left;
}
.id {
  display: none;
}
.card > .title {
  font-size: xx-large;
}
.card > .price {
  font-size: x-large;
}
/*.details > p {
 
}*/
.description {
  grid-column: 1/3;
}
.main-photo > img {
  width: 500px;
}
.thumb-container {
  display: inline-block;
  overflow: hidden;
}
.thumb-holder {
  display: inline-block;
  height: 100px;
  width: 125px;
  background-color: aliceblue;
}
.thumb-holder > img {
  max-width: 100%;

  overflow: hidden;
}
form {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

form fieldset {
  margin: 1em;
  border-radius: 10px;
  border: 1px solid var(--color4);
}

.col1 input,
.col1 select,
.col1 textarea {
  display: block;
  border-radius: 5px;
  border: 1px solid var(--color4);
  padding: 0.75rem;
  margin: 0;
  width: 100%;
  max-width: 20rem;
}

.col2 input,
.col2 select,
.col2 textarea {
  display: block;
  border-radius: 5px;
  border: 1px solid var(--color4);
  padding: 0.75rem;
  margin: 0;
  width: 100%;
}

form label {
  display: block;
  padding: 0.2em 0;
  margin: 0.2em;
  font-weight: 600;
}

.pictures {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
}

.btnSubmit {
  grid-column: 2;
  background-color: var(--color6);
  color: var(--color5);
  padding: 0.6em;
  border-radius: 20px;
  font-size: 1.5rem;
  margin: auto 0.5em 1em 2em;
  width: 100%;
  max-width: 50rem;
}

/*from codepen*/

.box {
  display: block;
  min-width: 300px;
  height: 300px;
  margin: 10px;
  background-color: var(--color2);
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;
}

.upload-options {
  position: relative;
  height: 75px;
  background-color: var(--color4);
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  transition: background-color ease-in-out 150ms;
}

.upload-options:hover {
  background-color: var(--color3);
}
.upload-options input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.upload-options label {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
}
.upload-options::after {
  /*content: "add";*/
  content: "+";
  font-family: "Material Icons";
  position: absolute;
  font-size: 2.5rem;
  color: rgba(230, 230, 230, 1);
  top: calc(50% - 2.5rem);
  left: calc(50% - 1.25rem);
  z-index: 0;
}
.upload-options span {
  display: inline-block;
  width: 50%;
  height: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
  text-align: center;
}
.upload-options span:hover i.material-icons {
  color: lightgray;
}

.js--image-preview {
  height: 225px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-image: url("/images/image-icon_128.png");
  background-color: white;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*
.js--image-preview::after {
  content: "photo_size_select_actual";
  font-family: "Material Icons";
  position: relative;
  font-size: 4.5em;
  color: rgba(230, 230, 230, 1);
  top: calc(50% - 3rem);
  left: calc(50% - 2.25rem);
  z-index: 0;
}

.js--image-preview.js--no-default::after {
  display: none;
}

.js--image-preview:nth-child(2) {
  background-image: url("//images/add_image_64.png");
}
*/
i.material-icons {
  transition: color 100ms ease-in-out;
  font-size: 2.25em;
  line-height: 55px;
  color: white;
  display: block;
}

.drop {
  display: block;
  position: absolute;
  background: transparentize(var(--color1), 0.8);
  border-radius: 100%;
  transform: scale(0);
}

.animate {
  animation: ripple 0.4s linear;
}

@keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}
